<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
     
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="passswrod" name="password">
            <button > SUBMIT</button>
            
    </form>
    <h1>
        Dont have account? <a href="/signup">click me</a>
    </h1>
</body>
</html>